html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.colorMnsBleu {
    background-color: #041937;
}

.colorsMnsOrange {
    background-color: #FF7001;
}